<link rel="stylesheet" href="./css/shopping-cart.css">

    <div class="modal " id="CartModal" data-keyboard="false" data-backdrop="static">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
           <div class="cart-border">
       <div class="modal-body content-padding">

        <div class="row text-center ">
          <h3><b>MY CART</b></h3>

        </div>
          <p class="grey-line"></p>

          {{#if products}}
           {{# each products}}
            <div class="row row-padding">
              <div class="col-xs-5 cart-img-container">
                  <img src='/images/{{this.item.ImageUrl}}' class="cart-img" />
                  </div>

               <div class="col-xs-7">
                 <h4><b>{{this.item.ProductName}}<b></h4>
                   <div class="input-group inputdiv">
                 <span class="input-group-btn">
                   <button type="button" class="minus" style="margin-left:-16px" data-type="minus" data-field="">
                       <span style="font-size:16px; margin-top:-6px">-</span>
                   </button>
                 </span>
                 <input class="text-center" value={{this.qty}} width="80px" type="number" id="quantity-${index}" name="quantity" min="0" max="10">
                 <span class="input-group-btn">
                     <button type="button" class=" plus" style="margin-left: 1px" data-type="plus" data-field="">
                         <span style="font-size:16px; margin-top:-5px">+</span>
                     </button>
                 </span>
                 </div>
                  <p class="margn">Price: <span class="rupees">&#8377;{{this.price}}</span> </p>
                  {{#if this.item.Customization}}
                    <p class="newRows">{{this.item.Customization.custom1}}:<span class="custom">{{this.item.Customization.custom1array}}</span> </p>
                    {{#if this.item.Customization.custom2}}
                    <p class="newRows">{{this.item.Customization.custom2}}:<span class="custom">{{this.item.Customization.custom2array}}</span> </p>
                    {{/if}}
                  {{/if}}
                  {{#if this.item.ownMealCustoms}}
                   {{#each this.item.ownMealCustoms}}
                    <p class="newRows">{{@key}}:<span class="custom">{{this}}</span> </p>
                    {{/each}}
                  {{/if}}
                 <div class="margn removebutton d-flex align-items-end">
                     <button type="button" class=" remove" onclick="location.href = '/removeItem/{{this.item._id}}'">REMOVE</button>
                 </div>
             </div>
            </div>

            {{/each}}
              <p class="grey-line"></p>
              <div class="d-flex justify-content-end">
                  <h5 class="text-left price"><b>TOTAL: </b></h5><h4 class="rupees">&#8377;{{totPrice}}</h4>
              </div>
              <div class="row text-center">
                  <button type="button" class=" btn-success butns " ><a href="/checkout">CHECKOUT</a></button>
              </div>
          {{else}}
           <div class="row row-padding text-center">
             <h3>There are no products in the cart</h3>
             <div class="row-padding">
             <button type="button" class=" btn-success butns " ><a href="/menu">GO BACK</a></button>
             </div>
           </div>

          {{/if}}
          </div>
        </div>
       </div>
      </div>
    </div>


<script type="text/javascript">
    $(document).ready(function(){
        $("#CartModal").modal('show');
    });


      $(document).ready(function () {


          addhandler = (index) => {

              // console.log(index)
              var quantity = parseInt($(`#quantity-${index}`).val());
              console.log(quantity);
              document.getElementById("quant").innerHTML=quantity;
              // If is not undefined

              var add = $(`#quantity-${index}`).val(quantity + 1);
          }

          subhandler = (index) => {

              // console.log(index)
              var quantity = parseInt($(`#quantity-${index}`).val());

              // If is not undefined
              if (quantity > 0)
                  $(`#quantity-${index}`).val(quantity - 1);


          }

      });

</script>
